@charset "UTF-8";
/* Body */
body {
  font-family: "Source Sans Pro", sans-serif;
  background-color: #f2f2f2;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  font-style: normal;
  font-weight: 200;
}
/* Container */
.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  height: 1000px;
  background-color: #ffffff;
}
/* Navigation */
header {
  width: 100%;
  height: 5%;
  background-color: #e0a2a2;
  border-bottom: 1px solid #a56c6c;
}
.logo {
  display: block;
  line-height: 45px;

  -moz-border-radius: 30px;
  border-radius: 3px;

  background-color: #c38888;
  text-align: center;
  font-size: 2em;

  color: #fff;
  font-weight: bold;
  width: 10%;
  float: left;
  margin-top: 2px;
  margin-left: 15px;
  letter-spacing: 4px;
}
nav {
  float: right;
  width: 50%;
  text-align: right;
  margin-right: 25px;
}
header nav ul {
  list-style: none;
  float: right;
}
nav ul li {
  float: left;
  color: #ffffff;
  font-size: 14px;
  text-align: left;
  text-transform: uppercase;
  margin-right: 25px;
  letter-spacing: 2px;
  font-weight: bold;
  transition: all 0.5s linear;
}
nav ul li a {
  color: #ffffff;
  text-decoration: none;
}

nav ul li:hover a {
  border-bottom: 3px solid #daa520;
}

.intro_header {
  color: #ffffff;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  letter-spacing: 4px;
}
/* Intro Section */
.intro {
  background-color: #b3b3b3;
  padding-top: 20px;
  padding-bottom: 20px;
}

#head-shot {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.last-name {
  font-weight: bold;
  color: #717070;
}
.tagline {
  text-align: center;
  color: #ffffff;
  margin-top: 4px;
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 1px;
}
/* About Section */
.about {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 35px;
  background-color: #ffffff;
  margin-top: 0px;
}

/* Footer Section */
.button {
  width: 200px;
  margin-top: 40px;
  margin-right: auto;
  margin-bottom: auto;
  margin-left: auto;
  padding-top: 20px;
  padding-right: 10px;
  padding-bottom: 20px;
  padding-left: 10px;
  text-align: center;
  vertical-align: middle;
  border-radius: 0px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  border: 3px solid #ffffff;
  color: #ffffff;
  transition: all 0.3s linear;
}
.button:hover {
  background-color: #fefefe;
  color: #daa520;
  cursor: pointer;
}

.footer_banner {
  bottom: 0;
  margin-top: 0px;
  background-color: #b3b3b3;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-bottom: 0px;
  background-repeat: repeat;
}

/* Additional Information Section */
.hidden {
  display: none;
}

.footer {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #c38888;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: lighter;
  letter-spacing: 2px;
  border-top-width: 2px;
}

/* Mobile Devices and Small Tablets */
@media (min-width: 100px) and (max-width: 767px) {
  .logo {
    width: 100%;
    text-align: center;
    margin-top: 13px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    color: #daa520;
  }
  .container header nav {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    width: 100%;
    float: none;
    overflow: auto;
    display: inline-block;
    background: #e0a2a2;
  }
  header nav ul {
    padding: 0px;
    float: none;
  }
  nav ul li {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    width: 100%;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .intro_header {
    margin-top: 130px;
  }

  .about {
    padding-bottom: 10px;
  }
  .footer_column {
    width: 100%;
  }
  .footer_banner .intro_header {
    margin-top: 1px;
  }
  /* Turn off parallax scrolling for all tablets and phones. */
  .parallax {
    background-attachment: scroll;
  }
}

/* Small Desktops */
@media (min-width: 768px) and (max-width: 1096px) {
  nav ul li::after {
    content: "";
    width: 0%;
    height: 2px;
    background: #daa520;
    display: block;
    margin: auto;
    transition: 0.5s;
  }

  nav ul li:hover::after {
    width: 100%;
  }
  .katrina {
    padding-left: 10px;
    padding-right: 10px;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
  @keyframes fadeInAnimation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .intro_header,
  #head-shot,
  .tagline {
    float: left;
    width: 50%;
    display: inline;
    background-color: #b3b3b3;
  }

  .tagline {
    margin-left: 10px;
  }

  #head-shot {
    width: 48%;
  }

  .intro_header {
    margin-left: 100px;
    margin-bottom: 10px;
  }

  .intro {
    background-color: white;
  }

  .about p {
    float: right;
    width: 50%;
  }

  .footer_banner {
    margin-top: 700px;
  }
}

/* Large Desktops */
@media (min-width: 1096px) and (max-width: 1920px) {
  nav ul li::after {
    content: "";
    width: 0%;
    height: 2px;
    background: #daa520;
    display: block;
    margin: auto;
    transition: 0.5s;
  }

  nav ul li:hover::after {
    width: 100%;
  }
  .katrina {
    padding-left: 20px;
    padding-right: 10px;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
  @keyframes fadeInAnimation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .intro_header,
  #head-shot,
  .tagline {
    float: left;
    width: 50%;
    display: inline;
    background-color: #b3b3b3;
  }

  .tagline {
    margin-left: 10px;
  }

  #head-shot {
    width: 40%;
  }

  .intro_header {
    margin-left: 100px;
    margin-bottom: 10px;
  }

  .intro {
    background-color: white;
  }

  .about p {
    float: right;
    width: 50%;
    padding-right: 80px;
  }

  .footer_banner {
    margin-top: 700px;
  }
}

/* Skills Page */
.parallax {
  /* background-image: url("../images/Peach\ Floral\ Desktop\ Wallpaper\ \(3\).png"); */
  background-image: url("../images/gradient-background.jpg");
  height: 60%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.skills {
  background-color: #ffffff;
  font-size: 36px;
  padding: 10px;
  border-radius: 1px;
  box-shadow: 5px 10px 18px 5px #888888;
  margin-top: -300px;
}

.skills h2 {
  text-align: center;
}

.skills ul {
  text-align: center;
  list-style-position: inside;
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

.parallax_footer_banner {
  margin-top: auto;
  bottom: 0;
  margin-top: 0px;
  background-color: #b3b3b3;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-bottom: 0px;
  background-repeat: repeat;
}
